<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>TriCount</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style_menu.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/8e8aa578fc.js" ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>  
<footer class="footer" th:fragment="tail">            
    <h4 class="text-center text-warning text-bold"> Tricount Corporate<br> Wild code school 2021</h4>
</footer>
</body>

</html>