<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <footer class="footer" th:fragment="tail">
        <h6 class="text-center text-warning text-bold"> Tricount Corporate<br> Wild code school 2021</h6>
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "15%";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>
      <script src="/js/jquery-3.2.1.slim.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/js/tom-select.complete.js"></script>
    </footer>
</body>

</html>