<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <footer class="footer" th:fragment="tail">
        <h6 class="text-center text-warning text-bold"> Tricount Corporate<br> Wild code school 2021</h6>
      <script>
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        function openNav() {
          document.getElementById("mySidenav").style.width = "15%";
        }
      </script>
    </footer>
</body>

</html>