section {
	min-height: 100%;
	margin-bottom: -50px;
}

.footer{
	height: 60px;
	text-align: center;
}

hr:last-child {
	visibility: hidden;
}
.pageTitleLink, .pageTitleLink:hover {
	text-decoration: none;
}

.hd-container {
	height: 120px;
}

#add-list-button {
	margin-right: 48px;
	margin-bottom: 64px;
}

.add-icon {
	font-size: 64px;
}

#add-list-container {
	margin-right: 48px;
	margin-bottom: 78px;
	padding-left: 24px;
	z-index: 9;
	display: flex;
	visibility: hidden;
}

#add-list-button:hover + #add-list-container {
	visibility: visible;
}

#add-list-container:hover {
	visibility: visible;
}

#add-list-label {
	font-size: 24px;
	vertical-align: middle;
}

/*****
Some buttons css
 */
.btn-label {position: relative;display: inline-block;padding: 6px 12px;border-radius: 4px 0 0 4px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

h2 {
	margin-bottom: 25px;
}

/* .container{
	padding-top: 60px;
} */