<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>TriCount</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bootstrap/css/icons/bootstrap-icons.css">
		<link rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
	<header th:replace="fragments/header.html :: head"></header>
	<section>
		<div class="container">
			<h1 class="text-center text-primary m-4">Who owns who?</h1>
		
		List: <div th:text="${expensesList.name}">list name</div>
		Total spending: <div th:text="${expensesList.total}">total</div>
		
		<th:block th:each="contact, status : ${expenseslist.contacts}">
		<div class="col">
			<div class="row">
				<div class = "col" th:text="${contact.name}">Name</div>
				<div class = "col" th:text="${contact.name}">Solde</div>
			</div>
		</div>
		
		<button type="submit" class="btn btn-primary">Rebalance Spending</button>
		
		</div>
	</section>
	<footer class="footer" th:replace="fragments/footer.html :: tail"> your footer here</footer>
	</body>
</html>

