<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head th:replace="fragments/header.html :: head">
</head>
<body class="d-flex flex-column h-100">
	<header th:replace="fragments/header.html :: header"></header>
	<main class="flex-shrink-0">
	<div class="container">
		<div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
			<h1 class="text-center text-primary m-4">Expense List details</h1>
			<form action="#" method="POST" th:action="@{/updateexpenseslist}" th:object="${updateexpenselistdto}">
				<input name="id" th:field="*{id}" type="hidden">
				<label for="expense-list-name">Expense List Name:</label>
				<br />
				<input class="form-control" id="expense-list-name" name="name" placeholder="Expense List Name" required th:field="*{name}" type="text">
				<br />
				<label for="contacts">Participants of the list:</label>
				<br />
				<select th:field="*{idContacts}" id="contacts" name="idContacts[]" multiple placeholder="Add a participant..." autocomplete="on">
					<option value="">Add a participant...</option>
					<option th:each="contact : ${contactsdto}" th:value="${contact.id}" th:utext="${contact.name}" />
				</select>
				<br />
			</form>
			<div class="float-end">
				<a th:href="${previous}" class="btn btn-secondary col-auto my-6" role="button">Cancel</a>
				<button type="submit" class="btn btn-primary col-auto ms-3">Update</button>
			</div>
		</div>
		<br />
		<br />

		<hr class="col-md-4 offset-md-4 border-2 border-top border-warning mt-3">	
	
		<h2 class="text-center text-warning">All expenses</h2>
		<a class="text-decoration-none"
			th:href="@{/createexpense/{id}(id=${id})}">
			<button type="button"
				class="btn btn-labeled btn-rounded btn-warning text-white"
				title="Add an expense to this list">
				<span class="btn-label"><i class="bi bi-plus-circle"></i> Add
					an expense</span>
			</button>
		</a> <a class="text-decoration-none"
			th:href="@{/balanceexpenses/{idList}(idList=${id})}">
			<button type="button"
				class="btn btn-labeled btn-rounded btn-primary text-white"
				title="Balance expenses between participants">
				<span class="btn-label"><i class="fa fa-balance-scale"
					aria-hidden="true"></i> Balance expenses</span>
			</button>
		</a>

<div class="row mt-5">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Expense name</th>
                <th>Made by</th>
                <th>Amount</th>
                <th>Beneficiary.ies</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:object="${updateexpenselistdto}" th:each="readexpensedto, state : ${updateexpenselistdto.readExpenseDTOS}">
                <td th:text="${readexpensedto.name}">Expense Name</td>
                <td th:text="${readexpensedto.owner.name}">Expense owner</td>
                <td th:text="${readexpensedto.amount}">Expense amount</td>
                <td>
                  <span th:each="beneficiary : ${readexpensedto.contactDtoList}" th:text="|${beneficiary.name} |"> </span>
                </td>
                <td th:text="${readexpensedto.expenseDate}">Expense date</td>
                <td>
                  <a class="text-decoration-none" th:href="@{/updateexpense/{id}(id=${readexpensedto.id})}">
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-pencil"></i>
                    </button>
                  </a>
                  <!--			Bootstrap modal div for confirmation windows pop-up -->
                  <div class="modal fade" th:attr="id=${'deleteexpense'+readexpensedto.id}" tabindex="-1" role="dialog" aria-labelledby="deleteExpenseLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteExpenseLabel">Confirm Delete</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>You are about to delete an expense, this action cannot be undone.</p>
                          <p>Do you want to proceed?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <a th:href="@{/expense/delete/{id}(id=${readexpensedto.id})}" class="btn btn-danger btn-ok">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="text-decoration-none" data-bs-toggle="modal" th:attr="data-bs-target=${'#deleteexpense'+readexpensedto.id}">
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-trash"></i>
                    </button>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
    </div>
    </main>
  <footer class="footer" th:replace="fragments/footer.html :: tail"></footer>
  <script>
    var config = {};
    new TomSelect('#contacts',config);
  </script>
  </body>
</html>