<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments/header.html :: head">
  </head>
  <body>
  <header th:replace="fragments/header.html :: header"></header>
  <section>
    <div class="container">
      <h1 class="text-center text-primary m-4">Expense List details</h1>
      <form action="#" method="POST" th:action="@{/updateexpenseslist}" th:object="${updateexpenselistdto}">
        <input name="id" th:field="*{id}" type="hidden">
        <label for="expense-list-name">Expense List Name:</label><br />
        <input class="form-control" id="expense-list-name" name="name" placeholder="Expense List Name" required th:field="*{name}" type="text"><br />
        <label for="contacts">Participants of the list:</label><br />
        <select th:field="*{idContacts}" id="contacts" name="idContacts[]" multiple placeholder="Add a participant..." autocomplete="on">
          <option value="">Add a participant...</option>
          <option th:each="contact : ${contactsdto}"
                  th:value="${contact.id}"
                  th:utext="${contact.name}"/>
        </select>
        <script>
          var config = {};
          new TomSelect('#contacts',config);
        </script>
        <br /><br />
        <input type="submit" value="Update List" class="btn btn-primary">
      </form><br /><br />

      <hr class="col-md-4 offset-md-4 border-2 border-top border-warning mt-3">
      <h2 class="text-center text-warning">All expenses</h2>
        <a class="text-decoration-none" th:href="@{/createexpense/{id}(id=${id})}">
          <button type="button" class="btn btn-labeled btn-rounded btn-warning text-white" title="Add an expense to this list">
            <span class="btn-label"><i class="bi bi-plus-circle"></i> Add an expense</span></button>
        </a>
        <a class="text-decoration-none" th:href="@{/balanceexpenses/{idList}(idList=${id})}">
          <button type="button" class="btn btn-labeled btn-rounded btn-light text-white" title="Balance expenses between participants">
            <span class="btn-label"><i class="fa fa-balance-scale" aria-hidden="true"></i> Balance expenses</span></button>
        </a>

        <div class="row mt-5">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Expense name</th>
                <th>Made by</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:object="${updateexpenselistdto}" th:each="readexpensedto, state : ${updateexpenselistdto.readExpenseDTOS}">
  <!--            <tr th:each="readexpensedto : ${readexpensedto.id}">-->
                <td th:text="${readexpensedto.name}">Expense Name</td>
                <td th:text="${readexpensedto.owner.name}">Expense owner</td>
                <td th:text="${readexpensedto.amount}">Expense amount</td>
                <td th:text="${readexpensedto.expenseDate}">Expense date</td>
                <td>
                  <a class="text-decoration-none" th:href="@{/expense/{id}(id=${readexpensedto.id})}">
                    <button type="button" class="btn btn-labeled btn-success">
                      <span class="btn-label"><i class="bi-pencil"></i></span></button>
                  </a>
                  <a class="text-decoration-none" th:href="@{/expense/delete/{id}(id=${readexpensedto.id})}" data-toggle="modal" data-target="#confirm-delete">
                    <button type="button" class="btn btn-labeled btn-danger">
                      <span class="btn-label"><i class="bi-trash"></i></span></button>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
  <!--        </div>-->
        </div>
    </div>

    </div>
    </section>
  <footer class="footer" th:replace="fragments/footer.html :: tail"></footer>
  </body>
</html>